<footer>
  <h2>Twenny Eight &middot; Student</h2>
  <ul>
    <li>
      <a href=""
        ><span class="fa-brands fa-linkedin" aria-hidden="true"></span>
        <span class="sr-only">LinkedIn</span></a
      >
    </li>
    <li>
      <a href="">
        <span class="fa-brands fa-github-alt" aria-hidden="true"></span>
        <span class="sr-only">GitHub</span></a
      >
    </li>
    <li>
      <a href=""
        ><span class="fa-solid fa-envelope" aria-hidden="true"></span>
        <span class="sr-only">Email</span></a
      >
    </li>
  </ul>
  <small>&copy; 2022 Twenny Eight. All rights reserved.</small>
</footer>
