<nav>
  <ul>
    <li>
      <h1>
        <a href="#"
          ><span class="fa-brands fa-forumbee" aria-hidden="true"></span
          ><span>Twenny Eight</span></a
        >
      </h1>
    </li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="#contact">Contact</a></li>
    <li>
      <a href="#"
        ><span class="fa-brands fa-linkedin" aria-hidden="true"></span
        ><span class="sr-only">LinkedIn</span></a
      >
    </li>
    <li>
      <a href="https://github.com/twennyeight" target="_blank">
        <span class="fa-brands fa-square-github" aria-hidden="true"></span
        ><span class="sr-only">GitHub</span></a
      >
    </li>
    <li><a href="#" class="button">Resume</a></li>
  </ul>
</nav>
